/*
//main page
    //header/nav
    //img background box w/search field inside
    //featured local opportunities
    //footer

//sub page
    //header/nav
    //volunteer opportunity info
        //name:  contact/date/location
    //map image pulled from google API*/
 
nav {
font-family: 'Raleway', sans-serif;
}

div {
font-family: 'Raleway', sans-serif;
}
.parent {
	position: absolute;
	z-index: -1;
}

#child {
	position: relative;
    text-align: center;
	z-index: 1;
    margin-bottom: 75px;

}

#container {
    background-size: 600px 600px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    padding: 150px 200px 150px 200px;
    background-image: url(../images/search-image.png)
}
.btn-primary {
    margin-bottom: 15px;
}
.dropdown {
    width: 400px;
    display: inline-block;
    text-align: center;
}
.form-control {
    width: 250px;
    display: inline-block;
    text-align: center;
}
#search-submit {
    width: 70px;
    height: 34px;
}
