/*
//main page
    //header/nav
    //img background box w/search field inside
    //featured local opportunities
    //footer

//sub page
    //header/nav
    //volunteer opportunity info
        //name:  contact/date/location
    //map image pulled from google API*/
#venue {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

nav {
font-family: 'Raleway', sans-serif;
color: #333;
}


nav + div {
    background-image: url(../images/wood-textures/grain3.jpg)
}

.container-fluid {
    background: #A52A2A;
    color: #333;
}
.navbar-default {     
    margin-bottom: 0px;
    border-color: #A52A2A;
    border-radius: 0px;
    width: 100%;
    color: #333;
}
.navbar-brand {
    font-size: 40px;
    color: #333;
}

.navbar-default .navbar-brand {
    color: white;
    text-transform: uppercase;
}

#featured-opportunities {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: gray;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
   /* margin-left: 425px;*/

}
.parent {
	position: absolute;
	z-index: -1;
}

#child {
	position: relative;
    text-align: center;
	z-index: 1;
    margin-bottom: 75px;
    color: #333;
}

#container {
    background-size: auto 600px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    padding: 150px 200px 150px 200px;
    background-image: url(../images/search-image.png);
    /* background-color: #ffbb99 */
  
}
.btn-primary {
    margin-bottom: 15px;
    background-color: #7C2F30;
    color: #333;
}
.dropdown {
    width: 400px;
    display: inline-block;
    text-align: center;
    color: #333;
}
.form-control {
    width: 250px;
    display: inline-block;
    text-align: center;
}
#search-submit {
    width: 70px;
    height: 34px;
} 
footer {
  padding: 30px 0;
  clear: both;
  font-size: 20px;
  text-align: center;
  background: #A52A2A;
  font-family: 'Raleway', sans-serif;
}

#search-results {

    background-color: #7C2F30;
    width: 800px;
    margin-left: 200px;
    font-family: 'Raleway', sans-serif;
    color: #333;
}
#more-info-btn {


    background-color: white;
    width: 100%;
    margin: auto 0;
  }

.schedule-header {
    background-color: #A52A2A !important;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 
}

.container {
    background-color: white;
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;

}
