/*
//main page
    //header/nav
    //img background box w/search field inside
    //featured local opportunities
    //footer

//sub page
    //header/nav
    //volunteer opportunity info
        //name:  contact/date/location
    //map image pulled from google API*/
#venue {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

nav {.
font-family: 'Raleway', sans-serif;
}
nav + div {
    background-image: url(../images/wood-textures/grain3.jpg);
}
.container-fluid {
    background: #A52A2A;
}
.navbar-default {
    margin-bottom: 0px;
}
.navbar-brand {
    font-size: 40px;
}
#featured-opportunities {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: gray;
    width: 400px;
    margin-left: 425px;
}
.parent {
	position: absolute;
	z-index: -1;
}

#child {
	position: relative;
    text-align: center;
	z-index: 1;
    margin-bottom: 75px;

}

#container {
    background-size: auto 600px;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    padding: 150px 200px 150px 200px;
    background-image: url(../images/search-image.png);
    /* background-color: #ffbb99 */
}
.btn-primary {
    margin-bottom: 15px;
    background-color: #b62f2f;
}
.dropdown {
    width: 400px;
    display: inline-block;
    text-align: center;
}
.form-control {
    width: 250px;
    display: inline-block;
    text-align: center;
}
#search-submit {
    width: 70px;
    height: 34px;
} 
#footer {
  padding: 30px 0;
  clear: both;
  font-size: 20px;
  text-align: center;
  background: #A52A2A;
  }
#search-results {
    background-color: pink;
    width: 400px;
    margin-left: 450px;
  }
